<!DOCTYPE html>
<!-- element 组件 -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
  </style>
</head>
<body>
  <div id="root"></div>
  <script src="todo/vue-2.6.14.js"></script>
  <script>
    Vue.component('my-progress', {
      props: {
        percentage: {
          type: Number,
          required: true,
        },
        color: {
          type: String,
          default: '#409eff',
        },
        textInside: {
          type: Boolean,
          default: false,
        }
      },
      template: `
        <div> 
          <div style="display: inline-block;border-radius: 600px; height: 12px; width: 150px; background-color: #ebeef5;">
            <div style="height: 100%;border-radius: 6px;" :style="{width: percentage + '%', backgroundColor: color}">
              <span style="float: right;font-size: 10px;color:white;" v-if="textInside">{{ percentage }}%</span>
            </div>
          </div>
          <span v-if="!textInside">{{ percentage }}%</span>
        </div>
      `,
    })
    Vue.component('my-input-number', {
      props: {
        value: { //value属性
          type: Number,
          required: true,
        },
        max: {
          type: Number,
          default: 10,
        },
        min: {
          type: Number,
          default: 0,
        },
      },
      template: `
        <span style="display: inline-block">
          <button @click="dec">-</button>
          <input @blur="fix" type="text" :value="current" style="width: 4em; text-align: center;" />
          <button @click="inc">+</button>
        </span>
      `,//  style="display: inline-block" 清除空格
      data() {
        return { // 初始化
          // current: this.val,  // value是谁 :value="current"？  value: { type: Number,required: true,}
          current: this.value < this.min ? this.min : (this.value > this.max ? this.max : this.value),
        }
      },
      watch: {
        value(val) {
          this.current = this.value < this.min ? this.min : (this.value > this.max ? this.max : this.value)
        },
        current(val) {
          this.$emit('input', val) // this.$emit('change', val)  input 事件
        }
      },
      methods: {
        fix(e) {
          var valu = Number(e.target.value.trim())
          if(Number,isNaN(valu)) {
            this.$forceUpdate()  // ***
          } else {
            if(valu > this.max) {
              this.current = this.max
            }else if(valu < this.min) {
              this.current = this.min
            }else {
              this.current = valu
            }
          }
          // this.$emit('change', this.current)
        },
        inc() {
          this.current++
          if(this.current > this.max) {
            this.current = this.max
          }
          // this.$emit('change', this.current)
        },
        dec() {
          this.current--
          if(this.current < this.min) {
            this.current = this.min
          }
          // this.$emit('change', this.current)
        }
      }
    })
    Vue.component('my-pagination', {
      props: {
        total: {
          type: Number,
          required: true,
        },
        pageSize: {
          type: Number,
          default: 10,
        },
        layout: {
          type: String,
          default: 'prev, pager, next'
        }
      },
      template: `
        <div> 
          <button v-if="showPrev" @click="dec"> < </button>
          <span v-if="showPager">
            <button @click="currentPage = i" v-for="i of pageCount" :style="{color: i == currentPage ? 'red' : 'black'}">{{i}}</button>
          </span>
          <button v-if="showNext" @click="inc"> > </button>
        </div>
      `,
      methods: {
        inc() {
          if(this.currentPage < this.pageCount) {
            this.currentPage++
          }
        },
        dec() {
          if(this.currentPage > 1){
            this.currentPage--
          }
        },
      },
      watch: {
        currentPage(val) {
          this.$emit('current-change', val)
        }
      },
      data() {
        // debugger
        var layout = this.layout.split(',').map(it => it.trim())
        var pageCount = Math.ceil(this.total / this.pageSize)
        return {
          showPrev: layout.includes('prev'),
          showPager: layout.includes('pager'),
          showNext: layout.includes('next'),
          pageCount,
          currentPage: 1,
        }
      }
    })
    Vue.component('bigint-input', {
      props: {
        value: {
          type: BigInt,
          require: true,
        },
      },
      template: `
          <input v-model="str"/>
      `, //input 支持用v-model      ； 让input元素的内容根数据的str绑定，并不代表bigint-input组件本身在用； 此时在input中输入任何内容对应到str
      watch: {
        str() {
          this.$emit('input', BigInt(this.str))
        },
        value() {// 更新value属性
          this.str = this.value.toString()
        },
      },
      data() {
        return {
          str: this.value.toString()
        }
      },
    })
    Vue.component('array-input', {
      props: {
        value: {
          type: Array,
          default: [],
        },
      },
      template: `
        <div>
          <div v-for="(item, idx) of list"> 
            <input type="text" v-model="list[idx]" :key="idx"/>
            <button @click="list.splice(idx,1)">-</button>
          </div>
          <button @click="list.push('')">+</button>
        </div>
      `,//decrease 减少  increase 增加  //<input type="text" v-model="item" :key="idx"/>  v-model不能绑定零时变量 必须绑定数据中真实存在的变量
      watch: {
        value() {
          if(this.value.every((it, idx) => it == this.list[idx]) && this.list.every((it, idx) => it == this.value[idx])) {
            return 
          }
          this.list = this.value.slice() 
        },//app.tags = ['a','a','a']
        list() {
          this.$emit('input', this.list)
        },//值改变，触发input事件
      },
      data() {
        return {
          list : this.value.slice()
        }//this.value.slice() 复制1份
      },
    })
    //2
    //
      // Vue.component('array-input', {
      //   props: {
      //     value: {
      //       type: Array,
      //       default: [],
      //     },
      //   },
      //   template: `
      //     <div>
      //       <div v-for="(item, idx) of value"> 
      //         <input type="text" v-model="value[idx]" :key="idx"/>
      //         <button>-</button>
      //       </div>
      //       <button @click="value.push('')">+</button>
      //     </div>
      //   `,
      // })
    //
    var app = new Vue({
      el: '#root',
      template: `
        <div>
          <array-input v-model="tags"></array-input>

          <bigint-input v-model="z"></bigint-input>

          <ul>
            <li v-for="item of list.slice((page - 1) * 20, page * 20)">{{item}}</li>
          </ul>
          <my-pagination :total="list.length" :page-size="20" @current-change="page = $event" ></my-pagination>


          <my-input-number v-model="value2"></my-input-number>
          <my-input-number v-model="value2"></my-input-number>
          <my-input-number :value="value3" :max="100" :min="20" @change="f"></my-input-number>



          <my-progress :percentage="20" :color="'red'"></my-progress>
          <my-progress :percentage="50" :color="'green'"></my-progress>
          <my-progress :percentage="78" :color="'purple'"></my-progress>
          <my-progress :percentage="33" :textInside="true"></my-progress>

        </div>
      `,//<my-input-number v-model="value2"></my-input-number> 等价于 <my-input-number :value="value2" @input="value2 = $event"></my-input-number>
      methods: {
        f(val) {
          console.log(val)
        }
      },
      data: {
        tags: ['linux', 'js', 'node'],
        y: 3434,
        z: 2938438475n,
        value2: 8, // 值为10 的时候有问题
        value3: 2,
        page: 1,
        list: Array(2015).fill(0).map((it,idx) => `${idx} + ${Math.random()}`)
      },
      updated() {
        
        console.log('root component update', 1093478875498276082437598)
      },
    })
  </script>
  
</body>
</html>