
    * {
      background-color: rgba(0,0,0,0.07);
      box-shadow: 0 0 1px red;
    }
    body{
      margin: 0;
    }

    .woqu {
      width: atuo;
      background-color: #014DA1;
    }
    .header {
      position: relative;
      height: 140px;
      width: 1300px;
      margin: auto;
    }
    img {
      position: absolute;
      width: 362px;
      height: 110px;
      zoom: 0.8;
      margin: 26px;
    }

    .navigation {
      position: absolute;
      width: 800px;
      height: 48px;
      right: 0px;
      bottom: 5px;
      font-size: 0;
    }

    .top {
      display:inline-block;
      color: white;
      box-sizing: border-box;
      border: 1px solid #014DA1;
      width: 100px;
      height: 48px;
      vertical-align: bottom;
      text-align: center; 水平居中 ;
      line-height: 48px; 垂直居中 ;
      font-size: 1rem;
      xwhite-space: nowrap;
    }
    .top:hover .f-ul{
      xbackground-color: #022853;
      visibility: visible;
      transition: 2s;
    }
    ul {
      padding: 0;
      list-style: none;
      margin: 0;
      background-color: #C3DFFA;
      color: #014896;
    }
    .f-ul {
      position: relative;
      margin: 0px;
      padding: 0px;
      list-style: none;
      visibility: hidden;
    }
    
    .jianjie {
      width: 98px;
      position: relative;
      overflow: hidden;
      zwhite-space: nowrap;
    }
    .jianjie:hover {
      transition: 2s;
      overflow: visible;
    }
    .s-ul {
      position:absolute;
      display: inline-block;
      width: 100px;
      padding: 0px;
      top: 0px;
      left: 98px;
      list-style: none;
    }
