h1 {
  font-family: 黑体, sans-serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 1px 1px 1px hsl(1, 30%, 78%),
  2px 2px 1px hsl(2, 30%, 78%),
  3px 3px 1px hsl(3, 30%, 78%),
  4px 4px 1px hsl(4, 30%, 78%),
  5px 5px 1px hsl(5, 30%, 78%),
  6px 6px 1px hsl(6, 30%, 78%),
  7px 7px 1px hsl(7, 30%, 78%),
  8px 8px 1px hsl(8, 30%, 78%),
  9px 9px 1px hsl(9, 30%, 78%),
  10px 10px 1px hsl(10, 30%, 78%),
  11px 11px 1px hsl(11, 30%, 78%),
  12px 12px 1px hsl(12, 30%, 78%),
  13px 13px 1px hsl(13, 30%, 78%),
  14px 14px 1px hsl(14, 30%, 78%),
  15px 15px 1px hsl(15, 30%, 78%),
  16px 16px 1px hsl(16, 30%, 78%),
  17px 17px 1px hsl(17, 30%, 78%),
  18px 18px 1px hsl(18, 30%, 78%),
  19px 19px 1px hsl(19, 30%, 78%),
  20px 20px 1px hsl(20, 30%, 78%),
  21px 21px 1px hsl(21, 30%, 78%),
  22px 22px 1px hsl(22, 30%, 78%),
  23px 23px 1px hsl(23, 30%, 78%),
  24px 24px 1px hsl(24, 30%, 78%),
  25px 25px 1px hsl(25, 30%, 78%),
  26px 26px 1px hsl(26, 30%, 78%),
  27px 27px 1px hsl(27, 30%, 78%),
  28px 28px 1px hsl(28, 30%, 78%),
  29px 29px 1px hsl(29, 30%, 78%),
  30px 30px 1px hsl(30, 30%, 78%),
  31px 31px 1px hsl(31, 30%, 78%),
  32px 32px 1px hsl(32, 30%, 78%),
  33px 33px 1px hsl(33, 30%, 78%),
  34px 34px 1px hsl(34, 30%, 78%),
  35px 35px 1px hsl(35, 30%, 78%),
  36px 36px 1px hsl(36, 30%, 78%),
  37px 37px 1px hsl(37, 30%, 78%),
  38px 38px 1px hsl(38, 30%, 78%),
  39px 39px 1px hsl(39, 30%, 78%),
  40px 40px 1px hsl(40, 30%, 78%),
  41px 41px 1px hsl(41, 30%, 78%),
  42px 42px 1px hsl(42, 30%, 78%),
  43px 43px 1px hsl(43, 30%, 78%),
  44px 44px 1px hsl(44, 30%, 78%),
  45px 45px 1px hsl(45, 30%, 78%),
  46px 46px 1px hsl(46, 30%, 78%),
  47px 47px 1px hsl(47, 30%, 78%),
  48px 48px 1px hsl(48, 30%, 78%),
  49px 49px 1px hsl(49, 30%, 78%),
  50px 50px 1px hsl(50, 30%, 78%),
  51px 51px 1px hsl(51, 30%, 78%),
  52px 52px 1px hsl(52, 30%, 78%),
  53px 53px 1px hsl(53, 30%, 78%),
  54px 54px 1px hsl(54, 30%, 78%),
  55px 55px 1px hsl(55, 30%, 78%),
  56px 56px 1px hsl(56, 30%, 78%),
  57px 57px 1px hsl(57, 30%, 78%),
  58px 58px 1px hsl(58, 30%, 78%),
  59px 59px 1px hsl(59, 30%, 78%),
  60px 60px 1px hsl(60, 30%, 78%),
  61px 61px 1px hsl(61, 30%, 78%),
  62px 62px 1px hsl(62, 30%, 78%),
  63px 63px 1px hsl(63, 30%, 78%),
  64px 64px 1px hsl(64, 30%, 78%),
  65px 65px 1px hsl(65, 30%, 78%),
  66px 66px 1px hsl(66, 30%, 78%),
  67px 67px 1px hsl(67, 30%, 78%),
  68px 68px 1px hsl(68, 30%, 78%),
  69px 69px 1px hsl(69, 30%, 78%),
  70px 70px 1px hsl(70, 30%, 78%),
  71px 71px 1px hsl(71, 30%, 78%),
  72px 72px 1px hsl(72, 30%, 78%),
  73px 73px 1px hsl(73, 30%, 78%),
  74px 74px 1px hsl(74, 30%, 78%),
  75px 75px 1px hsl(75, 30%, 78%),
  76px 76px 1px hsl(76, 30%, 78%),
  77px 77px 1px hsl(77, 30%, 78%),
  78px 78px 1px hsl(78, 30%, 78%),
  79px 79px 1px hsl(79, 30%, 78%),
  80px 80px 1px hsl(80, 30%, 78%),
  81px 81px 1px hsl(81, 30%, 78%),
  82px 82px 1px hsl(82, 30%, 78%),
  83px 83px 1px hsl(83, 30%, 78%),
  84px 84px 1px hsl(84, 30%, 78%),
  85px 85px 1px hsl(85, 30%, 78%),
  86px 86px 1px hsl(86, 30%, 78%),
  87px 87px 1px hsl(87, 30%, 78%),
  88px 88px 1px hsl(88, 30%, 78%),
  89px 89px 1px hsl(89, 30%, 78%),
  90px 90px 1px hsl(90, 30%, 78%),
  91px 91px 1px hsl(91, 30%, 78%),
  92px 92px 1px hsl(92, 30%, 78%),
  93px 93px 1px hsl(93, 30%, 78%),
  94px 94px 1px hsl(94, 30%, 78%),
  95px 95px 1px hsl(95, 30%, 78%),
  96px 96px 1px hsl(96, 30%, 78%),
  97px 97px 1px hsl(97, 30%, 78%),
  98px 98px 1px hsl(98, 30%, 78%),
  99px 99px 1px hsl(99, 30%, 78%),
  100px 100px 1px hsl(100, 30%, 78%),
  101px 101px 1px hsl(101, 30%, 78%),
  102px 102px 1px hsl(102, 30%, 78%),
  103px 103px 1px hsl(103, 30%, 78%),
  104px 104px 1px hsl(104, 30%, 78%),
  105px 105px 1px hsl(105, 30%, 78%),
  106px 106px 1px hsl(106, 30%, 78%),
  107px 107px 1px hsl(107, 30%, 78%),
  108px 108px 1px hsl(108, 30%, 78%),
  109px 109px 1px hsl(109, 30%, 78%),
  110px 110px 1px hsl(110, 30%, 78%),
  111px 111px 1px hsl(111, 30%, 78%),
  112px 112px 1px hsl(112, 30%, 78%),
  113px 113px 1px hsl(113, 30%, 78%),
  114px 114px 1px hsl(114, 30%, 78%),
  115px 115px 1px hsl(115, 30%, 78%),
  116px 116px 1px hsl(116, 30%, 78%),
  117px 117px 1px hsl(117, 30%, 78%),
  118px 118px 1px hsl(118, 30%, 78%),
  119px 119px 1px hsl(119, 30%, 78%),
  120px 120px 1px hsl(120, 30%, 78%),
  121px 121px 1px hsl(121, 30%, 78%),
  122px 122px 1px hsl(122, 30%, 78%),
  123px 123px 1px hsl(123, 30%, 78%),
  124px 124px 1px hsl(124, 30%, 78%),
  125px 125px 1px hsl(125, 30%, 78%),
  126px 126px 1px hsl(126, 30%, 78%),
  127px 127px 1px hsl(127, 30%, 78%),
  128px 128px 1px hsl(128, 30%, 78%),
  129px 129px 1px hsl(129, 30%, 78%),
  130px 130px 1px hsl(130, 30%, 78%),
  131px 131px 1px hsl(131, 30%, 78%),
  132px 132px 1px hsl(132, 30%, 78%),
  133px 133px 1px hsl(133, 30%, 78%),
  134px 134px 1px hsl(134, 30%, 78%),
  135px 135px 1px hsl(135, 30%, 78%),
  136px 136px 1px hsl(136, 30%, 78%),
  137px 137px 1px hsl(137, 30%, 78%),
  138px 138px 1px hsl(138, 30%, 78%),
  139px 139px 1px hsl(139, 30%, 78%),
  140px 140px 1px hsl(140, 30%, 78%),
  141px 141px 1px hsl(141, 30%, 78%),
  142px 142px 1px hsl(142, 30%, 78%),
  143px 143px 1px hsl(143, 30%, 78%),
  144px 144px 1px hsl(144, 30%, 78%),
  145px 145px 1px hsl(145, 30%, 78%),
  146px 146px 1px hsl(146, 30%, 78%),
  147px 147px 1px hsl(147, 30%, 78%),
  148px 148px 1px hsl(148, 30%, 78%),
  149px 149px 1px hsl(149, 30%, 78%),
  150px 150px 1px hsl(150, 30%, 78%),
  151px 151px 1px hsl(151, 30%, 78%),
  152px 152px 1px hsl(152, 30%, 78%),
  153px 153px 1px hsl(153, 30%, 78%),
  154px 154px 1px hsl(154, 30%, 78%),
  155px 155px 1px hsl(155, 30%, 78%),
  156px 156px 1px hsl(156, 30%, 78%),
  157px 157px 1px hsl(157, 30%, 78%),
  158px 158px 1px hsl(158, 30%, 78%),
  159px 159px 1px hsl(159, 30%, 78%),
  160px 160px 1px hsl(160, 30%, 78%),
  161px 161px 1px hsl(161, 30%, 78%),
  162px 162px 1px hsl(162, 30%, 78%),
  163px 163px 1px hsl(163, 30%, 78%),
  164px 164px 1px hsl(164, 30%, 78%),
  165px 165px 1px hsl(165, 30%, 78%),
  166px 166px 1px hsl(166, 30%, 78%),
  167px 167px 1px hsl(167, 30%, 78%),
  168px 168px 1px hsl(168, 30%, 78%),
  169px 169px 1px hsl(169, 30%, 78%),
  170px 170px 1px hsl(170, 30%, 78%),
  171px 171px 1px hsl(171, 30%, 78%),
  172px 172px 1px hsl(172, 30%, 78%),
  173px 173px 1px hsl(173, 30%, 78%),
  174px 174px 1px hsl(174, 30%, 78%),
  175px 175px 1px hsl(175, 30%, 78%),
  176px 176px 1px hsl(176, 30%, 78%),
  177px 177px 1px hsl(177, 30%, 78%),
  178px 178px 1px hsl(178, 30%, 78%),
  179px 179px 1px hsl(179, 30%, 78%),
  180px 180px 1px hsl(180, 30%, 78%),
  181px 181px 1px hsl(181, 30%, 78%),
  182px 182px 1px hsl(182, 30%, 78%),
  183px 183px 1px hsl(183, 30%, 78%),
  184px 184px 1px hsl(184, 30%, 78%),
  185px 185px 1px hsl(185, 30%, 78%),
  186px 186px 1px hsl(186, 30%, 78%),
  187px 187px 1px hsl(187, 30%, 78%),
  188px 188px 1px hsl(188, 30%, 78%),
  189px 189px 1px hsl(189, 30%, 78%),
  190px 190px 1px hsl(190, 30%, 78%),
  191px 191px 1px hsl(191, 30%, 78%),
  192px 192px 1px hsl(192, 30%, 78%),
  193px 193px 1px hsl(193, 30%, 78%),
  194px 194px 1px hsl(194, 30%, 78%),
  195px 195px 1px hsl(195, 30%, 78%),
  196px 196px 1px hsl(196, 30%, 78%),
  197px 197px 1px hsl(197, 30%, 78%),
  198px 198px 1px hsl(198, 30%, 78%),
  199px 199px 1px hsl(199, 30%, 78%),
  200px 200px 1px hsl(200, 30%, 78%);
}

h1 span {
  font-family: 宋体, serif;
  color: rgba(93,202,248, 0.8);

}

h3 {
  font-size: 45px;
  font-family: 幼圆，sans-serif;
  color: white;
  text-shadow: 0px 0px 3px red, 0px 0px 1px red, 0px 0px 1px red;
  box-shadow: 1px 1px inset red;
  text-align: center;
  text-decoration: underline magenta;
}

p.b {
  font-size: 30px;
}
.b input {
  font-size: inherit;
}


h3 {
  font-family: ;
}

h2 {
  font-family: Forte, 宋体, serif;
  font-size: 40%;
  text-align: center;
  text-shadow: 0px 0px 2px;
  text-transform: capitalize;
  font-variant: small-caps;
  text-indent: 2em;
}

p.a {
  font-family: "Agency FB"; 
  font-style: italic;
  text-align: right;
}
b span {
  color: rgba(255,0,255,0.8);
  text-decoration: underline red ;
  font-weight: bolder;
}
p.a span {
  font-weight: bolder;
  text-decoration: line-through underline;
}
p.d {
  text-indent: 2em;
  text-align: justify;
  line-height: 2em;
}
p.c {
  font-size: 8px;
}
p.c span{
  font-size: 150%;
}









* {
  background-color: rgba(0,0,0,0.08);
  box-shadow:inset 0 0 1px red;
   //不应有布局，加上盒子的阴影，标出元素的范围
}
html {
  zoom: 2;
}
xp {
  text-indent: 2em;// 该属性行内元素的无用。em 两个字符的大小进行缩进。也可以隐藏元素里面的文字。
  text-align: center; //left,right,center,justify(两端对齐) 连字符，css3中有。
  margin-left: 100px;
  text-indent: 5%;
  
}
section {
  text-align: justify;
}
section img {
  width: 100%;
  height: 2px;
  background-color: pink;
}
p[class="d-space"] {
  text-align: justify;
  word-spacing: 3px;//字之间的间距
  xletter-spacing: 1px;//字母之间的间距，汉字如同字母。
  text-transform: capitalize;
  font-variant: small-caps;
}

main {
  color: rgb(35, 160, 202);
  text-decoration: red;
}
b {
  vertical-align: 3px;
  color: black;
  text-decoration: none;
}
d {
  color: white;
  text-shadow: 2px 2px 2px red, -2px 2px 1px green, 0px 0px 1px blue;
}
